<html>
<head>
<title>
Student/Quiz Dashboard
</title>
</head>
<body>
{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}
<table name="students" border = "1">
<tr>
<th colspan="4" style="text-align: center"><strong>Students</strong></th>
</tr>
<tr>
<th>ID</th><th>First Name</th><th>Last Name</th><th>Results</th>
</tr>
{% for student in students %}
<tr><td>{{student.student_id}}</td><td>{{student.first_name|safe}}</td><td>{{student.last_name|safe}}</td><td><a href="/student/{{student.student_id}}">View Results</a></td></tr>
{% else %}
<tr><strong>No Student Entries</strong></tr>
{% endfor %}
</table>




<table name="quizzes" border = "1">
<tr>
<th style="text-align: center" colspan="4"><strong>Quizzes</strong></th>
</tr>
<tr>
<th>ID</th><th>Subject</th><th># of Questions</th><th>Date</th>
</tr>
{% for quiz in quizzes %}
<tr><td>{{quiz.quiz_id}}</td><td>{{quiz.subject|safe}}</td><td>{{quiz.question_count|safe}}</td><td>{{quiz.date|safe}}</td></tr>
{% else %}
<tr width="100%"><strong>No Quiz</strong></tr>
{% endfor %}
</table>
<div><a href="/student/add">Add Student</a></div>
<div><a href="/quiz/add">Add Quiz</a></div>
<div><a href="/results/add">Add Quiz Result</a></div>